:root.theme-dark {
  --bg-color: var(--dark-blue-color);
  --header__description-color: var(--dark-blue-color);
  --text-color: var(--light-pink-color);
  --accent-color: var(--purple-color);
  --header-color: var(--purple-color);
  --brackets-color: var(--purple-color);
  --main-title-color: var(--neon-pink-color);
  --bg-image: url(../images/cover-image-dark.png);
  --link-border-color: var(--light-pink-color);
  --menu-btn-border-opacity-color: var(--purple-color-opacity);
  --menu-text-color: var(--purple-color);
  --rec-display: block;
}
