*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  font-family: var(--main-font-family, monospace);
  font-weight: var(--font-normal);
  font-size: var(--general-text-size);
  margin: 0 auto;
  padding: 0;
  padding-inline: 0;
  padding-block: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  inline-size: 100%;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  text-decoration: none;
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
