:root.theme-light {
  --bg-color: var(--powder-pink-color);
  --text-color: var(--dark-grey-color);
  --accent-color: var(--dark-pink-color);
  --header-color: var(--dark-grey-color);
  --main-title-color: var(--pink-text-color);
  --bg-image: url(../images/cover-image-light.png);
  --bracket-svg: url(../images/bracket-light.svg);
  --main-font-family: var(--font-family);
  --header-title-size: var(--text-big-size);
  --font-bold: var(--font-weight-bold);
  --font-normal: var(--font-weight-normal);
  --general-text-size: var(--text-small-size);
  --link-border-color: var(--dark-grey-color);
  --menu-btn-border-opacity-color: var(--grey-color-opacity);
  --menu-text-color: var(--dark-grey-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: var(--powder-pink-color);
    --text-color: var(--dark-grey-color);
    --accent-color: var(--dark-pink-color);
    --header-color: var(--dark-grey-color);
    --main-title-color: var(--pink-text-color);
    --bg-image: url(../images/cover-image-light.png);
    --bracket-svg: url(../images/bracket-light.svg);
    --main-font-family: var(--font-family);
    --header-title-size: var(--text-big-size);
    --font-bold: var(--font-weight-bold);
    --font-normal: var(--font-weight-normal);
    --general-text-size: var(--text-small-size);
    --link-border-color: var(--dark-grey-color);
    --menu-btn-border-opacity-color: var(--grey-color-opacity);
    --menu-text-color: var(--dark-grey-color);
  }
}

.theme-light .header__rec-wrapper {
  display: none;
}
