:root {
  --dark-blue-color: #000028;
  --white-color: #fff;
  --purple-color: #FF0070;
  --purple-color-opacity: #FF007066;
  --neon-pink-color: #DB00FF;
  --light-pink-color: #F1B2CE;
  --dark-grey-color: #353430;
  --grey-color-opacity: #32312D66;
  --powder-pink-color: #FFF1F7;
  --pink-text-color: #FFC2E6;
  --dark-pink-color: #FF8DCB;
  --dark-blue-text-color: #000E2E;
}
