.page {
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: var(--bg-image);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-inline: 10px;
  background-size: cover;
}

.header {
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding-block: 10px;
  height: 100vh;
}

.header::before {
  content: "";
  position: absolute;
  background-image: var(--bracket-svg);
  transform: rotate(180deg);
  block-size: 25px;
  inline-size: 25px;
  top: 10px;
  right: 0;
}

.header::after {
  content: "";
  position: absolute;
  background-image: var(--bracket-svg);
  block-size: 25px;
  inline-size: 25px;
  bottom: 10px;
  left: 0;
}

.header__rec-wrapper {
  position: absolute;
  right: 30px;
  top: 12px;
}

.header__rec {
  position: relative;
  color: var(--accent-color);
}

.header__rec::after {
  content: "";
  display: block;
  position: absolute;
  top: calc((100% - 9px) / 2);
  left: calc(100% + 10px);
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  display: flex;
  flex-direction: column;
}

.header__theme-menu-button {
  background-color: transparent;
  padding-inline: 13px;
  padding-block-end: 2.5px;
  text-transform: lowercase;
  color: var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__title {
  color: var(--main-title-color);
  font-size: var(--header-title-size);
  font-weight: var(--font-bold);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color);
  letter-spacing: -1px;
}

.header__description {
  background-color: var(--accent-color);
  color: var(--dark-blue-text);
  font-weight: var(--font-bold);
}

.main {
  margin-block-start: 40px;
}

.section {
  margin-block-end: 50px;
}

.section__title {
  font-weight: var(--font-bold);
  color: var(--accent-color);
  font-size: inherit;
}

.section__subtitle {
  font-weight: var(--font-bold);
  color: var(--dark-blue-text);
  background-color: var(--accent-color);
  margin-block-start: 20px;
  font-size: inherit;
}

.article__title {
  font-weight: var(--font-bold);
  color: var(--dark-blue-text);
  background-color: var(--accent-color);
  font-size: inherit;
  margin-block-start: 20px;
  margin-block-end: 10px;
}

.article__text {
  font-weight: var(--font-normal);
}

.accent-link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.gallery {
  display: grid;
  gap: 10px;
  margin-block-start: 10px;
}

.footer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  background-image: var(--bracket-svg);
  transform: rotate(180deg);
  block-size: 25px;
  inline-size: 25px;
  top: 10px;
  right: 0;
}

.footer::after {
  content: "";
  position: absolute;
  background-image: var(--bracket-svg);
  block-size: 25px;
  inline-size: 25px;
  bottom: 10px;
  left: 0;
}

.footer__title {
  color: var(--main-title-color);
  font-size: var(--header-title-size);
  font-weight: var(--font-bold);
  line-height: 0.83;
  text-shadow: 4px 4px 0 var(--accent-color);
  letter-spacing: -1px;
}

@media (width >= 768px) {

  .page {
    padding-inline: 20px;
  }

  .header {
    padding-block: 20px;
  }

  .header::before {
    top: 20px;
  }

  .header::after {
    bottom: 20px;
  }

  .header__rec-wrapper {
    top: 22px;
  }

  .header__title {
    justify-self: start;
    margin-inline-start: -20px;
  }

  .header__description {
    max-width: 50%;
    justify-self: end;
  }

  .main {
    margin-block-start: 60px;
  }

  .section-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section-grid .article__wrapper {
    grid-column: 2;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .sunset {
    grid-column: span 2;
  }

  .ice-cream {
    grid-row: span 2;
    height: 100%;
    object-fit: cover;
  }

  .tape {
    grid-row: span 2;
    height: 100%;
    object-fit: cover;
  }

  .street {
    grid-column: span 2;
  }

  .footer::before {
    top: 20px;
  }

  .footer::after {
    bottom: 20px;
  }
}


@media (width >= 1024px) {

  .header__title {
    font-size: 157px;
  }

  .concentration-reduce {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .concentration-reduce .section__title {
    grid-column: 1/-1;
    max-width: 33%;
  }

  .header__description {
    max-width: 50%;
    justify-self: end;
  }
}
