:root {
  --bg-color: var(--dark-blue-color);
  --dark-blue-text: var(--dark-blue-color);
  --text-color: var(--light-pink-color);
  --accent-color: var(--purple-color);
  --header-color: var(--purple-color);
  --main-title-color: var(--neon-pink-color);
  --bg-image: url(../images/cover-image-dark.png);
  --bracket-svg: url(../images/bracket-dark.svg);
  --main-font-family: var(--font-family);
  --header-title-size: var(--text-big-size);
  --font-bold: var(--font-weight-bold);
  --font-normal: var(--font-weight-normal);
  --general-text-size: var(--text-small-size);
  --link-border-color: var(--light-pink-color);
  --menu-btn-border-opacity-color: var(--purple-color-opacity);
  --menu-text-color: var(--purple-color);
}
